<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MVC-AuthenticationTemplate</title>
</head>
<body> 
<div id="wrapper">

    <div>
        
        @RenderBody()
         
        @if (!IsSectionDefined("Footer"))
        {
            <footer>
                <hr/>
                <p>&copy; @DateTime.Now.Year</p>
            </footer>
        }

    </div>
</div>
</body>
</html>
